<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true">

    <testsuites>
        <testsuite name="PHP is magic">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>


    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="doc/coverage" charset="UTF-8"
             yui="true" highlight="false"
             lowUpperBound="50" highLowerBound="90"/>
    </logging>
    
</phpunit>
